In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import numpy as np
import requests
import gmaps
import os


# Import API key
from api_keys import g_key

ModuleNotFoundError: No module named 'api_keys'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [78]:
# Create city dataframe
city500_weather_data_df = pd.read_csv('../output_data/city500_weather_data.csv')
city500_weather_data_df.dropna(inplace = True) 
city500_weather_data_df.head()

,city_name,country_code,lattitude,longitude,temp,wind_speed,cloudiness,humidity
0,bluff,nz,-76.039276,172.583202,50.00,10.00,100,87
1,aykhal,ru,68.293438,110.538752,-35.50,0.89,6,76
2,mataura,pf,-64.090568,-161.013526,50.00,10.00,70,87
3,puerto ayora,ec,3.038544,-89.474206,82.83,18.41,40,70
4,vaini,to,-35.109108,-179.183464,73.40,13.80,75,94

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [79]:
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = city500_weather_data_df[["lattitude", "longitude"]]

# Fill NaN values and convert to float
rating = city500_weather_data_df["humidity"].astype(float)

In [80]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [97]:
ideal_city_df= city500_weather_data_df.query('temp < 90 and temp > 60 and wind_speed < 40 and cloudiness == 0')
ideal_city_df

,city_name,country_code,lattitude,longitude,temp,wind_speed,cloudiness,humidity
18,carnarvon,au,-20.437623,104.318186,71.60,18.41,0,88
35,luderitz,na,-24.944502,15.125771,68.61,31.43,0,58
38,arraial do cabo,br,-53.432104,-17.956461,85.75,28.77,0,58
45,bonthe,sl,5.104690,-15.832076,78.84,8.10,0,82
46,geraldton,au,-30.228046,102.825003,64.40,12.66,0,72
54,cape town,za,-78.056630,-11.399834,66.65,17.27,0,68
86,georgetown,sh,-15.850903,-19.886925,77.13,12.66,0,76
87,coquimbo,cl,-26.473104,-81.710312,68.00,16.11,0,64
103,mogadishu,so,-1.964534,47.635986,77.41,22.10,0,82
114,dandeli,in,15.084238,74.496931,66.36,1.12,0,64
125,chimalpa,mx,19.418495,-99.398017,66.34,8.70,0,28
136,pisco,pe,-26.218014,-98.036415,77.00,9.22,0,61
149,saldanha,za,-42.609646,-0.428028,64.40,21.85,0,68
156,tessalit,ml,22.107638,-0.843256,70.20,9.69,0,20
158,atar,mr,22.787544,-12.266497,75.20,10.45,0,16
162,san rafael,ar,-35.143778,-68.583116,87.60,3.49,0,17
165,adrar,dz,27.051003,3.848718,65.30,7.85,0,36
172,akyab,mm,20.728340,93.532657,63.05,6.62,0,63
186,cockburn town,bs,26.843429,-73.961328,75.69,7.49,0,69
188,sao filipe,cv,10.084995,-26.290857,75.74,4.07,0,67
192,karratha,au,-19.176591,115.491621,84.36,11.01,0,42
214,northam,au,-31.717214,116.567000,63.63,14.97,0,42
221,taoudenni,ml,23.855242,-8.860417,72.59,12.30,0,22
232,pathein,mm,17.319920,93.046659,70.20,6.38,0,83
252,sao joao da barra,br,-27.821005,-31.462348,86.00,25.32,0,45
257,salalah,om,12.753849,60.640009,73.40,1.14,0,68
279,sur,om,17.372115,61.050290,67.32,8.55,0,72
282,khani,ru,58.390804,121.824622,60.80,20.71,0,21
304,asfi,ma,34.067720,-11.645247,65.23,14.88,0,81
312,marataizes,br,-21.093838,-40.976552,79.47,17.94,0,76
323,chirongui,yt,-13.823825,45.100196,78.80,2.30,0,89
325,mar del plata,ar,-47.312460,-53.735357,71.60,12.66,0,49
351,farim,gw,12.599093,-15.065591,87.80,4.81,0,37
358,malpe,in,13.244011,74.221982,77.00,4.61,0,78
360,kidal,ml,18.097321,0.165812,70.25,10.04,0,18
369,perth,au,-31.440678,113.961009,62.10,11.50,0,48
378,nouakchott,mr,19.234573,-15.518236,80.60,9.22,0,6
385,djibo,bf,13.876276,-1.060546,74.34,8.77,0,14
392,pakxan,la,18.554107,103.500121,64.81,3.87,0,74
404,chabahar,ir,24.919970,60.461722,65.89,5.30,0,71
416,odweyne,so,7.750123,45.693861,67.26,6.38,0,41
427,doha,kw,27.872296,47.403638,63.43,1.14,0,63
444,barra patuca,hn,17.461322,-84.040962,83.10,12.62,0,60
458,arlit,ne,21.208188,8.094868,68.22,6.87,0,20
468,nador,ma,31.485816,-2.033511,60.96,3.44,0,82
479,saint-joseph,re,-27.740700,55.225459,77.86,4.61,0,69
481,bombay,in,19.139775,72.537116,69.80,8.63,0,78
537,kasiri,sl,8.953368,-13.454410,78.51,8.57,0,77
543,umm lajj,sa,25.782936,36.929243,72.50,6.17,0,77
547,utete,tz,-7.876731,38.433204,73.90,3.40,0,93

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [98]:
ideal_city_df['hotel_name'] = ""
ideal_city_df['hotel_address'] = ""
ideal_city_df.head()

,city_name,country_code,lattitude,longitude,temp,wind_speed,cloudiness,humidity,hotel_name,hotel_address
18,carnarvon,au,-20.437623,104.318186,71.60,18.41,0,88,,
35,luderitz,na,-24.944502,15.125771,68.61,31.43,0,58,,
38,arraial do cabo,br,-53.432104,-17.956461,85.75,28.77,0,58,,
45,bonthe,sl,5.104690,-15.832076,78.84,8.10,0,82,,
46,geraldton,au,-30.228046,102.825003,64.40,12.66,0,72,,

In [99]:
len(ideal_city_df.head(5))

5

In [102]:

#locations = ideal_city_df[["lattitude", "longitude"]]
# find the closest restaurant of each type to coordinates
for index, row in ideal_city_df.iloc[0:20, :].iterrows():
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    location= str(row['lattitude']) + ',' + str(row['longitude'])
    #location = zip(row['lattitude'], row['longitude'])
    print(location)
    params = {
        "location": location, 
        "radius": "50000",
        "type": "lodging",
        "key": g_key,
        }
    response = requests.get(base_url, params=params).json()
    results = response['results']

    
    try:
        print(f"{index} Closest {row['city_name']} hotel is {results[0]['name']}.")
        
        ideal_city_df.loc[index, 'hotel_name'] = results[0]['name']
        ideal_city_df.loc[index, 'hotel_address'] = results[0]['vicinity']
        
        
    except (KeyError, IndexError):
        print(f"{index} Missing field/result... skipping. ")

-20.43762295852619,104.31818619404476
18 Missing field/result... skipping.
-24.94450246795351,15.12577130661694
35 Closest luderitz hotel is A Little Sossus Lodge.
-53.43210365502578,-17.95646102102731
38 Missing field/result... skipping.
5.104689557347328,-15.832075838655756
45 Missing field/result... skipping.
-30.228046445490683,102.82500265240742
46 Missing field/result... skipping.
-78.0566297609904,-11.399834181240209
54 Missing field/result... skipping.
-15.850903259369106,-19.886924938836813
86 Missing field/result... skipping.
-26.47310379942998,-81.71031203564641
87 Missing field/result... skipping.
-1.96453403700022,47.63598551681247
103 Missing field/result... skipping.
15.084237697096398,74.4969306296465
114 Closest dandeli hotel is Dudhsagar Spa Resort.
19.41849537088828,-99.39801747684756
125 Closest chimalpa hotel is JW Marriott Hotel Mexico City.
-26.2180142311936,-98.03641539938229
136 Missing field/result... skipping.
-42.60964585657047,-0.42802780442931976
149 Missing field/result... skipping.
22.10763826397725,-0.8432557925806066
156 Missing field/result... skipping.
22.787544482639827,-12.266496642890049
158 Closest atar hotel is Hôtel OASIAN.
-35.143778254315855,-68.58311589190733
162 Closest san rafael hotel is Cabañas del Cerro.
27.051003417277585,3.84871823001086
165 Closest adrar hotel is Saleh was appointed Tamezkidh.
20.728340005018,93.53265710663952
172 Closest akyab hotel is Nawarat Hotel.
26.84342886365968,-73.96132843539212
186 Missing field/result... skipping.
10.084995278038406,-26.29085728593512
188 Missing field/result... skipping.

In [103]:
# Convert hotel_name  to a list
# Convert city name  to list
hotel_name = ideal_city_df["hotel_name"].tolist()
city_name= ideal_city_df["city_name"].tolist()
country_name = ideal_city_df["country_code"].tolist()
latitude = ideal_city_df["lattitude"].tolist()
longitude = ideal_city_df["longitude"].tolist()

address = []
for i in range(len(hotel_name)):
   # if isinstance(i, str) :
        if len(hotel_name[i]) > 0:
            address.append({
            "hotel name" : hotel_name[i],
            "city" : city_name[i],
            "country" : country_name[i],
            "latitude" : latitude[i],
            "longitude" : longitude[i]
        })

In [104]:

selected_city = pd.DataFrame.from_dict(address)
selected_city[['latitude', 'longitude']]
selected_city

                      hotel name        city country   latitude  longitude
0          A Little Sossus Lodge    luderitz      na -24.944502  15.125771
1           Dudhsagar Spa Resort     dandeli      in  15.084238  74.496931
2  JW Marriott Hotel Mexico City    chimalpa      mx  19.418495 -99.398017
3                   Hôtel OASIAN        atar      mr  22.787544 -12.266497
4              Cabañas del Cerro  san rafael      ar -35.143778 -68.583116
5  Saleh was appointed Tamezkidh       adrar      dz  27.051003   3.848718
6                  Nawarat Hotel       akyab      mm  20.728340  93.532657

In [107]:
address[0:7]

[{'hotel name': 'A Little Sossus Lodge',
  'city': 'luderitz',
  'country': 'na',
  'latitude': -24.94450246795351,
  'longitude': 15.12577130661694},
 {'hotel name': 'Dudhsagar Spa Resort',
  'city': 'dandeli',
  'country': 'in',
  'latitude': 15.084237697096398,
  'longitude': 74.4969306296465},
 {'hotel name': 'JW Marriott Hotel Mexico City',
  'city': 'chimalpa',
  'country': 'mx',
  'latitude': 19.41849537088828,
  'longitude': -99.39801747684756},
 {'hotel name': 'Hôtel OASIAN',
  'city': 'atar',
  'country': 'mr',
  'latitude': 22.787544482639827,
  'longitude': -12.266496642890049},
 {'hotel name': 'Cabañas del Cerro',
  'city': 'san rafael',
  'country': 'ar',
  'latitude': -35.143778254315855,
  'longitude': -68.58311589190733},
 {'hotel name': 'Saleh was appointed Tamezkidh',
  'city': 'adrar',
  'country': 'dz',
  'latitude': 27.051003417277585,
  'longitude': 3.84871823001086},
 {'hotel name': 'Nawarat Hotel',
  'city': 'akyab',
  'country': 'mm',
  'latitude': 20.728340005018,
  'longitude': 93.53265710663952}]

In [110]:
# Create a map using state centroid coordinates to set markers
marker_locations =selected_city[['latitude', 'longitude']]

info_box_template = """
<dl>
<dt>Hotel</dt><dd>{hotel name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
info_box_template.format(**{"hotel name":"hotel name", "city":"Lima","country":"Peru"})
#info_box_template.format(**{"city":"Lima","country":"Peru"})

'\n<dl>\n<dt>Hotel</dt><dd>hotel name</dd>\n<dt>City</dt><dd>Lima</dd>\n<dt>Country</dt><dd>Peru</dd>\n</dl>\n'

In [111]:
# Create a marker_layer using the selected_city_db to fill the info box
fig = gmaps.figure()


markers = gmaps.marker_layer(marker_locations,
    info_box_content=[info_box_template.format(**locale) for locale in address])
                            
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))